body {
    background-color: #f0f2f5;
    width: 100%;
    height: 100vh;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 62.5%;
}

.logo-fb {
    width: 100%;
    height: 130px;
    margin: 20px 0 0;
}

#content {
    display: flex;
    flex-direction: column;
    width: 450px;
    margin: auto;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .1);
    border-radius: 10px;
}

.message {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    background-color: #ffffff;
    width: 100%;
    height: auto;
    padding: 10px 16px 16px;
    border-radius: 10px 10px 0 0;
}

.first-message {
    font-size: 25px;
    color: #333333;
    font-weight: 700;
}

.sub-message {
    font-size: 16px;
    color: #888;
}

#form {
    display: flex;
    flex-direction: column;
    width: 450px;
    padding: 20px;
    gap: 10px;
    background-color: #ffffff;
    border-top: 1px solid #ccd0d5;
}

input:focus {
    outline: none;
}

.form-name {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    gap: 10px;
}

#name,
#surname {
    flex-grow: 1;
    width: 100%;
    padding: 0 8px;
    height: 40px;
    border: 1px solid #ccd0d5;
    border-radius: 6px;
    font-size: 16px;
}

.form-log {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

#phone-or-email,
#password {
   padding: 0 8px;
   height: 40px;
   border: 1px solid #ccd0d5;
   border-radius: 6px;
   font-size: 16px;
}

.form-select-input {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    gap: 5px;
}

.title-mark {
    width: 100%;
    height: auto;
    font-size: 14px;
    color: #444;
}

.select-birth {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.select-option {
    flex: 1;
    width: auto;
    height: 40px;
    padding-left: 8px;
    border: 1px solid #ccd0d5;
    border-radius: 6px;
    color: #444;
}

.gender-set {
    display: flex;
    justify-content: space-between;
    height: 32px;
    gap: 10px;
    font-size: 16px;
    color: #444;
}

.gender-set-option {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    flex: 1;
    border: 1px solid #ccd0d5;
    border-radius: 6px;
}

.gender-set-option label {
    display: flex;
    vertical-align: middle;
    line-height: 1;
}

.button-submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 32px;
    margin-top: 10px;
}

.political {
    width: 100%;
    font-family: inherit;
    font-size: 12px;
    color: #888;
    line-height: 1.3;
}

#submit {
    height: 36px;
    padding: 0 32px;
    background-color: #00a400;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    border: none;
    border-radius: 6px;
}

#login {
    width: 100%;
    height: 48px;
    background-color: #fff;
    font-size: 18px;
    text-align: center;
    border-radius: 0 0 10px 10px;
}