body {
    background: #f0f2f5;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    & .back-blue {
        position: fixed;
        background: var(--ribbon);
        bottom: 0;
        left: 0;
        width: 100vw;
        height: 20rem;
        z-index: -999;
    }
}

#login {
    display: flex;
    align-items: center;
    gap: 8rem;
}

.intro {
    display: flex;
    flex-direction: column;
    width: 62rem;
    max-width: 90%;
    gap: 2.4rem;
}

.intro img {
    width: 32rem;
}

.intro p {
    font-size: 3.2rem;
    font-weight: 500;
    color: var(--gray400);
}

.login-content {
    background: var(--bg-content);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.2rem;
    width: 40rem;
    padding: 3.2rem 2.4rem;
    border-radius: .8rem;
    box-shadow: 0 24px 48px rgba(0, 0, 0, .15), 0 4px 6px rgba(0, 0, 0, .05);
}

#form-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 1.6rem;
    padding: 0 0 2.4rem;
    border-bottom: var(--border);
}

.access-login,
.pass-login {
    width: 100%;
    height: 4.8rem;
    font-size: 1.6rem;
    padding: 0 .8rem;
    border-radius: .6rem;
    border: var(--border);
}

.button-login {
    width: 100%;
    height: 4.8rem;
    background: var(--button);
    border-radius: .6rem;
    color: white;
    font-size: 1.8rem;
    font-weight: 600;
}

.pass-reset {
    font-size: 1.6rem;
    color: var(--button)
}

.signup-form {
    padding: 1.4rem 2.4rem;
    background-color: var(--action);
    border-radius: .6rem;
    color: white;
    font-size: 1.8rem;
    font-weight: 600;

}

#signup {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 2.4rem;
}

.logo-fb {
    width: 32rem;
    max-width: 90%;
}

#content {
    display: flex;
    flex-direction: column;
    width: 45rem;
    background: var(--bg-content);
    box-shadow: 0 24px 48px rgba(0, 0, 0, .15), 0 4px 6px rgba(0, 0, 0, .05);
    border-radius: 2rem;
    padding: 2.4rem 0;
}

.message {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .6rem;
    width: 100%;
    padding: 0 0 1.6rem;
}

.first-message {
    font-size: 25px;
    color: var(--gray300);
    font-weight: 700;
}

.sub-message {
    font-size: 1.6rem;
    color: var(--gray800);
}

#form-signup {
    display: flex;
    flex-direction: column;
    width: 45rem;
    padding: 2rem;
    gap: 1rem;
    border-top: var(--border);
}

input:focus,
select:focus {
    outline: none;
}

.form-name {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    gap: 1rem;
}

.name,
.surname {
    flex-grow: 1;
    width: 100%;
    padding: 0 .8rem;
    height: 4rem;
    border: var(--border);
    border-radius: .6rem;
    font-size: 1.6rem;
}

.form-log {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
}

.phone-email,
.password {
    padding: 0 .8rem;
    height: 4rem;
    border: var(--border);
    border-radius: .6rem;
    font-size: 1.6rem;
}

.form-select-input {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    gap: .5rem;
}

.title-mark {
    width: 100%;
    height: auto;
    font-size: 1.4rem;
    color: var(--gray400);
}

.select-birth {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.select-option {
    flex: 1;
    width: auto;
    height: 4rem;
    padding-left: .8rem;
    font-size: 1.6rem;
    color: var(--gray400);
    border: var(--border);
    border-radius: .6rem;
}

.gender-set {
    display: flex;
    justify-content: space-between;
    height: 4rem;
    gap: 1rem;
    font-size: 1.6rem;
    color: var(--gray400);
}

.gender-set-option {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
    flex: 1;
    border: var(--border);
    border-radius: .6rem;
}

.gender-set-option label {
    display: flex;
    vertical-align: middle;
    line-height: 1;
}

.button-submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 3.2rem;
    margin-top: 1rem;
}

.political {
    width: 100%;
    font-family: inherit;
    font-size: 1.2rem;
    color: var(--gray800);
    line-height: 1.3;
}

.submit {
    padding: .8rem 3.2rem;
    background-color: #00a400;
    font-size: 1.8rem;
    font-weight: 600;
    color: #ffffff;
    border-radius: .6rem;
}

.account {
    width: 100%;
    font-size: 1.8rem;
    text-align: center;
}

@media (max-width: 1440px) and (min-width: 1024px) and (orientation: landscape) {
    #signup {
        flex-direction: row;
        gap: 4.8rem;
    }

    .logo-fb {
        width: 40rem;
        max-width: 90%;
    }
}

@media (max-width: 480px) and (orientation: portrait) {
    #signup {
        height: auto;
        margin: 8rem 0 0;
        gap: 2.4rem;
    }

    .back-blue {
        display: none;
    }

    .logo-fb {
        width: 16rem;
        /* margin: 3.2rem 0 0; */
    }

    #content {
        width: 100%;
        border-radius: 0;
    }

    #form {
        width: 100%;
    }
}